In [1]:
import pandas as pd

In [2]:
df_confirmed = pd.read_csv("COVID-19-master/final_df.csv")
df_confirmed.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
1,Albania,0,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
2,Algeria,0,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
4,Angola,0,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155

In [3]:
df_confirmed.shape

(187, 149)

In [17]:
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding='utf-8-sig', keep_default_na=False, na_values='')
country_info.head()

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [18]:
country_info[country_info['iso2'].isnull()]

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
45,45,45,9999.0,NaN,NaN,NaN,NaN,NaN,NaN,Diamond Princess,0.0,0.0,Diamond Princess
114,114,114,8888.0,NaN,NaN,NaN,NaN,NaN,NaN,MS Zaandam,0.0,0.0,",,MS Zaandam"

In [19]:
country_info[country_info['Country_Region'] == "Namibia"]

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
115,115,115,516.0,NA,NAM,516.0,NaN,NaN,NaN,Namibia,-22.9576,18.4904,Namibia

In [20]:
country_info = country_info[['iso2', 'Country_Region']]

In [21]:
country_info.head()

  iso2 Country_Region
0   BW       Botswana
1   BI        Burundi
2   SL   Sierra Leone
3   AF    Afghanistan
4   AL        Albania

In [22]:
country_info.shape

(3560, 2)

In [25]:
country_info = country_info.drop_duplicates(subset='Country_Region')
country_info.shape

(180, 2)

In [26]:
doc_final_country = pd.merge(df_confirmed, country_info, how='left', on='Country_Region')

In [27]:
doc_final_country

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Vietnam,0,2,2,2,2,2,2,2,2,...,332,332,332,333,334,334,334,334,335,VN
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,481,485,487,489,489,492,505,514,555,PS
184,Yemen,0,0,0,0,0,0,0,0,0,...,524,560,591,632,705,728,844,885,902,NaN
185,Zambia,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1321,1357,1358,1382,1405,1412,ZM
186,Zimbabwe,0,0,0,0,0,0,0,0,0,...,314,320,332,343,356,383,387,391,401,ZW

In [28]:
doc_final_country.shape

(187, 150)

In [29]:
doc_final_country.isnull().sum()

Country_Region    0
1/22/2020         0
1/23/2020         0
1/24/2020         0
1/25/2020         0
                 ..
6/14/2020         0
6/15/2020         0
6/16/2020         0
6/17/2020         0
iso2              9
Length: 150, dtype: int64

In [38]:
doc_final_country[doc_final_country['iso2'].isnull()]

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
38,Comoros,0,0,0,0,0,0,0,0,0,...,141,162,162,163,176,176,176,197,197,NaN
44,Cruise Ship,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
49,Diamond Princess,0,0,0,0,0,0,0,0,0,...,712,712,712,712,712,712,712,712,712,NaN
99,Lesotho,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,NaN
105,MS Zaandam,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,NaN
130,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
147,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,514,611,632,639,659,661,662,671,683,NaN

In [37]:
doc_final_country['iso2'][166] = 'TJ'
doc_final_country['iso2'][184] = 'YE'

C:\Users\Yang\Anaconda3\Lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Yang\Anaconda3\Lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
doc_final_country = doc_final_country.dropna(subset=['iso2'])
doc_final_country

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Vietnam,0,2,2,2,2,2,2,2,2,...,332,332,332,333,334,334,334,334,335,VN
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,481,485,487,489,489,492,505,514,555,PS
184,Yemen,0,0,0,0,0,0,0,0,0,...,524,560,591,632,705,728,844,885,902,YE
185,Zambia,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1321,1357,1358,1382,1405,1412,ZM
186,Zimbabwe,0,0,0,0,0,0,0,0,0,...,314,320,332,343,356,383,387,391,401,ZW

In [41]:
def create_flag_link(row):
    flag_link = 'https://www.countryflags.io/' + row + '/flat/64.png'
    return flag_link

doc_final_country['iso2'] = doc_final_country['iso2'].apply(create_flag_link)
doc_final_country.head()

C:\Users\Yang\Anaconda3\Lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,https://www.countryflags.io/AF/flat/64.png
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,https://www.countryflags.io/AL/flat/64.png
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,https://www.countryflags.io/DZ/flat/64.png
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,https://www.countryflags.io/AD/flat/64.png
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,https://www.countryflags.io/AO/flat/64.png

In [44]:
# ì»¬ëŸ¼ ìœ„ì¹˜ ë³€ê²½
col = doc_final_country.columns.tolist()

In [45]:
col.remove('iso2')
col.insert(1, 'iso2')

In [46]:
doc_final_country = doc_final_country[col]
doc_final_country

,Country_Region,iso2,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Afghanistan,https://www.countryflags.io/AF/flat/64.png,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
1,Albania,https://www.countryflags.io/AL/flat/64.png,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
2,Algeria,https://www.countryflags.io/DZ/flat/64.png,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
3,Andorra,https://www.countryflags.io/AD/flat/64.png,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
4,Angola,https://www.countryflags.io/AO/flat/64.png,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Vietnam,https://www.countryflags.io/VN/flat/64.png,0,2,2,2,2,2,2,2,...,332,332,332,332,333,334,334,334,334,335
183,West Bank and Gaza,https://www.countryflags.io/PS/flat/64.png,0,0,0,0,0,0,0,0,...,473,481,485,487,489,489,492,505,514,555
184,Yemen,https://www.countryflags.io/YE/flat/64.png,0,0,0,0,0,0,0,0,...,496,524,560,591,632,705,728,844,885,902
185,Zambia,https://www.countryflags.io/ZM/flat/64.png,0,0,0,0,0,0,0,0,...,1200,1200,1200,1200,1321,1357,1358,1382,1405,1412
186,Zimbabwe,https://www.countryflags.io/ZW/flat/64.png,0,0,0,0,0,0,0,0,...,287,314,320,332,343,356,383,387,391,401

In [ ]:
col