In [1]:
import pandas as pd

In [2]:
PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding='utf-8-sig')
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [3]:
doc = pd.read_csv(PATH + "03-01-2020.csv", encoding='utf-8-sig')
doc

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
120,"Tempe, AZ",US,2020-02-25T21:23:03,1,0,1,33.4255,-111.9400
121,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
122,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
123,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
124,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [4]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']

In [5]:
doc

    Province_State  Country_Region  Confirmed
0            Anhui  Mainland China        1.0
1          Beijing  Mainland China       14.0
2        Chongqing  Mainland China        6.0
3           Fujian  Mainland China        1.0
4            Gansu  Mainland China        NaN
5        Guangdong  Mainland China       26.0
6          Guangxi  Mainland China        2.0
7          Guizhou  Mainland China        1.0
8           Hainan  Mainland China        4.0
9            Hebei  Mainland China        1.0
10    Heilongjiang  Mainland China        NaN
11           Henan  Mainland China        5.0
12       Hong Kong       Hong Kong        NaN
13           Hubei  Mainland China      444.0
14           Hunan  Mainland China        4.0
15  Inner Mongolia  Mainland China        NaN
16         Jiangsu  Mainland China        1.0
17         Jiangxi  Mainland China        2.0
18           Jilin  Mainland China        NaN
19        Liaoning  Mainland China        2.0
20           Macau           Macau        1.0
21         Ningxia  Mainland China        1.0
22         Qinghai  Mainland China        NaN
23         Shaanxi  Mainland China        NaN
24        Shandong  Mainland China        2.0
25        Shanghai  Mainland China        9.0
26          Shanxi  Mainland China        1.0
27         Sichuan  Mainland China        5.0
28          Taiwan          Taiwan        1.0
29         Tianjin  Mainland China        4.0
30           Tibet  Mainland China        NaN
31      Washington              US        1.0
32        Xinjiang  Mainland China        NaN
33          Yunnan  Mainland China        1.0
34        Zhejiang  Mainland China       10.0
35             NaN           Japan        2.0
36             NaN        Thailand        2.0
37             NaN     South Korea        1.0

In [6]:
doc = doc.dropna(subset=['Confirmed'])
doc = doc.astype({'Confirmed': 'int64'})

In [7]:
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

In [9]:
# 나라 정보
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding='utf-8-sig')
country_info.head()

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [10]:
country_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3560 non-null   int64
 1   Unnamed: 0.1    3560 non-null   int64
 2   UID             3557 non-null   float64
 3   iso2            3557 non-null   object
 4   iso3            3555 non-null   object
 5   code3           3555 non-null   float64
 6   FIPS            3302 non-null   float64
 7   Admin2          3246 non-null   object
 8   Province_State  3384 non-null   object
 9   Country_Region  3560 non-null   object
 10  Lat             3449 non-null   float64
 11  Long_           3449 non-null   float64
 12  Combined_Key    3560 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 361.7+ KB

In [11]:
test_df = pd.merge(doc, country_info, on='Country_Region', how='left')
test_df

,Province_State_x,Country_Region,Confirmed,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,Yunnan,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3329,Zhejiang,Mainland China,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,NaN,Japan,2,84.0,84.0,392.0,JP,JPN,392.0,NaN,NaN,NaN,36.204824,138.252924,Japan
3331,NaN,Thailand,2,159.0,159.0,764.0,TH,THA,764.0,NaN,NaN,NaN,15.870032,100.992541,Thailand
3332,NaN,South Korea,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 3332
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province_State_x  3330 non-null   object
 1   Country_Region    3333 non-null   object
 2   Confirmed         3333 non-null   int64
 3   Unnamed: 0        3308 non-null   float64
 4   Unnamed: 0.1      3308 non-null   float64
 5   UID               3308 non-null   float64
 6   iso2              3308 non-null   object
 7   iso3              3308 non-null   object
 8   code3             3308 non-null   float64
 9   FIPS              3302 non-null   float64
 10  Admin2            3246 non-null   object
 11  Province_State_y  3305 non-null   object
 12  Lat               3203 non-null   float64
 13  Long_             3203 non-null   float64
 14  Combined_Key      3308 non-null   object
dtypes: float64(7), int64(1), object(7)
memory usage: 416.6+ KB

In [14]:
test_df.isnull().sum()

Province_State_x      3
Country_Region        0
Confirmed             0
Unnamed: 0           25
Unnamed: 0.1         25
UID                  25
iso2                 25
iso3                 25
code3                25
FIPS                 31
Admin2               87
Province_State_y     28
Lat                 130
Long_               130
Combined_Key         25
dtype: int64

In [15]:
nan_rovs = test_df[test_df['iso2'].isnull()]

In [16]:
nan_rovs

,Province_State_x,Country_Region,Confirmed,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Guangxi,Mainland China,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Guizhou,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Hainan,Mainland China,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Hebei,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Henan,Mainland China,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Hubei,Mainland China,444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Hunan,Mainland China,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jiangsu,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Jiangxi,Mainland China,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Liaoning,Mainland China,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Macau,Macau,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ningxia,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Shandong,Mainland China,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Shanghai,Mainland China,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Shanxi,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Sichuan,Mainland China,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tianjin,Mainland China,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3328,Yunnan,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3329,Zhejiang,Mainland China,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3332,NaN,South Korea,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# 이상한 국가명 바꾸기
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print (json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

In [18]:
# apply 특정 컬럼(또는 행) 값 변경가능 열또는 행에 함수를 적용할 수 있다
df = pd.DataFrame({
    '영어': [60, 70],
    '수학': [100, 50]
}, index = ['Dave', 'David'])
df

       영어   수학
Dave   60  100
David  70   50

In [19]:
def func(df_data):
    print (type(df_data))    
    print (df_data.index)
    print (df_data.values)    
    return df_data

In [20]:
df_func = df.apply(func, axis=0)

<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[60 70]
<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[60 70]
<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[100  50]

In [21]:
df_func = df.apply(func, axis=1)

<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[ 60 100]
<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[ 60 100]
<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[70 50]

In [23]:
def func(df_data):
    df_data['영어'] = 80
    return df_data
df_func = df.apply(func, axis=1)
df_func

       영어   수학
Dave   80  100
David  80   50

In [24]:
# apply 사용해서 컬럼값 변경하기
def func(row):
    if row['Country_Region'] in json_data:
        row['Country_Region'] = json_data[row['Country_Region']]
    return row

In [25]:
doc = doc.apply(func, axis=1)
doc

   Province_State Country_Region  Confirmed
0           Anhui          China          1
1         Beijing          China         14
2       Chongqing          China          6
3          Fujian          China          1
5       Guangdong          China         26
6         Guangxi          China          2
7         Guizhou          China          1
8          Hainan          China          4
9           Hebei          China          1
11          Henan          China          5
13          Hubei          China        444
14          Hunan          China          4
16        Jiangsu          China          1
17        Jiangxi          China          2
19       Liaoning          China          2
20          Macau          China          1
21        Ningxia          China          1
24       Shandong          China          2
25       Shanghai          China          9
26         Shanxi          China          1
27        Sichuan          China          5
28         Taiwan         Taiwan          1
29        Tianjin          China          4
31     Washington             US          1
33         Yunnan          China          1
34       Zhejiang          China         10
35            NaN          Japan          2
36            NaN       Thailand          2
37            NaN   Korea, South          1

In [26]:
# 문자열 포멧 맞추기
data = "01-22-2020.csv"
data_column = data.split(".")[0].lstrip('0').replace('-','/')
data_column

'1/22/2020'

In [27]:
doc.columns

Index(['Province_State', 'Country_Region', 'Confirmed'], dtype='object')

In [28]:
doc.columns = ['Province_State', 'Country_Region', data_column]

In [29]:
doc

   Province_State Country_Region  1/22/2020
0           Anhui          China          1
1         Beijing          China         14
2       Chongqing          China          6
3          Fujian          China          1
5       Guangdong          China         26
6         Guangxi          China          2
7         Guizhou          China          1
8          Hainan          China          4
9           Hebei          China          1
11          Henan          China          5
13          Hubei          China        444
14          Hunan          China          4
16        Jiangsu          China          1
17        Jiangxi          China          2
19       Liaoning          China          2
20          Macau          China          1
21        Ningxia          China          1
24       Shandong          China          2
25       Shanghai          China          9
26         Shanxi          China          1
27        Sichuan          China          5
28         Taiwan         Taiwan          1
29        Tianjin          China          4
31     Washington             US          1
33         Yunnan          China          1
34       Zhejiang          China         10
35            NaN          Japan          2
36            NaN       Thailand          2
37            NaN   Korea, South          1

In [33]:
doc = doc.groupby('Country_Region').sum()
doc

                1/22/2020
Country_Region
China                 548
Japan                   2
Korea, South            1
Taiwan                  1
Thailand                2
US                      1

In [ ]:
# 함수화 하기
# csv 파일 읽기
# 'Country_Region', 'Confirmed' 두 개의 컬럼만 가져오기
# 'Confirmed' 에 데이터가 없는 행 삭제하기
# 'Country_Region'의 국가명을 여러 파일에 일관되게 변경하기
# 'Confirmed' 데이터 타입을 int64(정수) 로 변경
# 'Country_Region' 를 기준으로 중복된 데이터를 합치기
# 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기

In [46]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)

def country_name_convert(row):
    if row['Country_Region'] in json_data:
        return json_data[row['Country_Region']]
    return row['Country_Region']

def create_dateframe(filename):
    doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')
    try:
        doc = doc[['Country_Region', 'Confirmed']]
    except:
        doc = doc[['Country/Region', 'Confirmed']]
        doc.columns = ['Country_Region', 'Confirmed']
    doc = doc.dropna(subset=['Confirmed'])
    doc['Country_Region'] = doc.apply(country_name_convert, axis=1)
    doc = doc.astype({"Confirmed": 'int64'})
    doc = doc.groupby('Country_Region').sum()
    
    date_column = filename.split(".")[0].lstrip('0').replace('-','/')
    doc.columns = [date_column]
    return doc

In [47]:
# Test
doc1 = create_dateframe("01-22-2020.csv")
doc2 = create_dateframe("04-01-2020.csv")

In [48]:
doc2.head()

                4/01/2020
Country_Region
Afghanistan           237
Albania               259
Algeria               847
Andorra               390
Angola                  8

In [54]:
doc = pd.merge(doc1, doc2, left_index=True, right_index=True, how ='outer')

In [55]:
doc

                    1/22/2020  4/01/2020
Country_Region
Afghanistan               NaN        237
Albania                   NaN        259
Algeria                   NaN        847
Andorra                   NaN        390
Angola                    NaN          8
...                       ...        ...
Venezuela                 NaN        143
Vietnam                   NaN        218
West Bank and Gaza        NaN        134
Zambia                    NaN         36
Zimbabwe                  NaN          8

[180 rows x 2 columns]

In [56]:
doc = doc.fillna(0)
doc

                    1/22/2020  4/01/2020
Country_Region
Afghanistan               0.0        237
Albania                   0.0        259
Algeria                   0.0        847
Andorra                   0.0        390
Angola                    0.0          8
...                       ...        ...
Venezuela                 0.0        143
Vietnam                   0.0        218
West Bank and Gaza        0.0        134
Zambia                    0.0         36
Zimbabwe                  0.0          8

[180 rows x 2 columns]

In [57]:
# 특정폴더 파일 리스트 가져오기
import os

PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
file_list = os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split('.')[-1] == 'csv':
        csv_list.append(file)
print(csv_list)

['01-22-2020.csv', '01-23-2020.csv', '01-24-2020.csv', '01-25-2020.csv', '01-26-2020.csv', '01-27-2020.csv', '01-28-2020.csv', '01-29-2020.csv', '01-30-2020.csv', '01-31-2020.csv', '02-01-2020.csv', '02-02-2020.csv', '02-03-2020.csv', '02-04-2020.csv', '02-05-2020.csv', '02-06-2020.csv', '02-07-2020.csv', '02-08-2020.csv', '02-09-2020.csv', '02-10-2020.csv', '02-11-2020.csv', '02-12-2020.csv', '02-13-2020.csv', '02-14-2020.csv', '02-15-2020.csv', '02-16-2020.csv', '02-17-2020.csv', '02-18-2020.csv', '02-19-2020.csv', '02-20-2020.csv', '02-21-2020.csv', '02-22-2020.csv', '02-23-2020.csv', '02-24-2020.csv', '02-25-2020.csv', '02-26-2020.csv', '02-27-2020.csv', '02-28-2020.csv', '02-29-2020.csv', '03-01-2020.csv', '03-02-2020.csv', '03-03-2020.csv', '03-04-2020.csv', '03-05-2020.csv', '03-06-2020.csv', '03-07-2020.csv', '03-08-2020.csv', '03-09-2020.csv', '03-10-2020.csv', '03-11-2020.csv', '03-12-2020.csv', '03-13-2020.csv', '03-14-2020.csv', '03-15-2020.csv', '03-16-2020.csv', '03-17-2020.csv', '03-18-2020.csv', '03-19-2020.csv', '03-20-2020.csv', '03-21-2020.csv', '03-22-2020.csv', '03-23-2020.csv', '03-24-2020.csv', '03-25-2020.csv', '03-26-2020.csv', '03-27-2020.csv', '03-28-2020.csv', '03-29-2020.csv', '03-30-2020.csv', '03-31-2020.csv', '04-01-2020.csv', '04-02-2020.csv', '04-03-2020.csv', '04-04-2020.csv', '04-05-2020.csv', '04-06-2020.csv', '04-07-2020.csv', '04-08-2020.csv', '04-09-2020.csv', '04-10-2020.csv', '04-11-2020.csv', '04-12-2020.csv', '04-13-2020.csv', '04-14-2020.csv', '04-15-2020.csv', '04-16-2020.csv', '04-17-2020.csv', '04-18-2020.csv', '04-19-2020.csv', '04-20-2020.csv', '04-21-2020.csv', '04-22-2020.csv', '04-23-2020.csv', '04-24-2020.csv', '04-25-2020.csv', '04-26-2020.csv', '04-27-2020.csv', '04-28-2020.csv', '04-29-2020.csv', '04-30-2020.csv', '05-01-2020.csv', '05-02-2020.csv', '05-03-2020.csv', '05-04-2020.csv', '05-05-2020.csv', '05-06-2020.csv', '05-07-2020.csv', '05-08-2020.csv', '05-09-2020.csv', '05-10-2020.csv', '05-11-2020.csv', '05-12-2020.csv', '05-13-2020.csv', '05-14-2020.csv', '05-15-2020.csv', '05-16-2020.csv', '05-17-2020.csv', '05-18-2020.csv', '05-19-2020.csv', '05-20-2020.csv', '05-21-2020.csv', '05-22-2020.csv', '05-23-2020.csv', '05-24-2020.csv', '05-25-2020.csv', '05-26-2020.csv', '05-27-2020.csv', '05-28-2020.csv', '05-29-2020.csv', '05-30-2020.csv', '05-31-2020.csv', '06-01-2020.csv', '06-02-2020.csv', '06-03-2020.csv', '06-04-2020.csv', '06-05-2020.csv', '06-06-2020.csv', '06-07-2020.csv', '06-08-2020.csv', '06-09-2020.csv', '06-10-2020.csv', '06-11-2020.csv', '06-12-2020.csv', '06-13-2020.csv', '06-14-2020.csv', '06-15-2020.csv', '06-16-2020.csv', '06-17-2020.csv']

In [58]:
csv_list.sort()

In [59]:
csv_list

['01-22-2020.csv',
 '01-23-2020.csv',
 '01-24-2020.csv',
 '01-25-2020.csv',
 '01-26-2020.csv',
 '01-27-2020.csv',
 '01-28-2020.csv',
 '01-29-2020.csv',
 '01-30-2020.csv',
 '01-31-2020.csv',
 '02-01-2020.csv',
 '02-02-2020.csv',
 '02-03-2020.csv',
 '02-04-2020.csv',
 '02-05-2020.csv',
 '02-06-2020.csv',
 '02-07-2020.csv',
 '02-08-2020.csv',
 '02-09-2020.csv',
 '02-10-2020.csv',
 '02-11-2020.csv',
 '02-12-2020.csv',
 '02-13-2020.csv',
 '02-14-2020.csv',
 '02-15-2020.csv',
 '02-16-2020.csv',
 '02-17-2020.csv',
 '02-18-2020.csv',
 '02-19-2020.csv',
 '02-20-2020.csv',
 '02-21-2020.csv',
 '02-22-2020.csv',
 '02-23-2020.csv',
 '02-24-2020.csv',
 '02-25-2020.csv',
 '02-26-2020.csv',
 '02-27-2020.csv',
 '02-28-2020.csv',
 '02-29-2020.csv',
 '03-01-2020.csv',
 '03-02-2020.csv',
 '03-03-2020.csv',
 '03-04-2020.csv',
 '03-05-2020.csv',
 '03-06-2020.csv',
 '03-07-2020.csv',
 '03-08-2020.csv',
 '03-09-2020.csv',
 '03-10-2020.csv',
 '03-11-2020.csv',
 '03-12-2020.csv',
 '03-13-2020.csv',
 '03-14-2020.csv',
 '03-15-2020.csv',
 '03-16-2020.csv',
 '03-17-2020.csv',
 '03-18-2020.csv',
 '03-19-2020.csv',
 '03-20-2020.csv',
 '03-21-2020.csv',
 '03-22-2020.csv',
 '03-23-2020.csv',
 '03-24-2020.csv',
 '03-25-2020.csv',
 '03-26-2020.csv',
 '03-27-2020.csv',
 '03-28-2020.csv',
 '03-29-2020.csv',
 '03-30-2020.csv',
 '03-31-2020.csv',
 '04-01-2020.csv',
 '04-02-2020.csv',
 '04-03-2020.csv',
 '04-04-2020.csv',
 '04-05-2020.csv',
 '04-06-2020.csv',
 '04-07-2020.csv',
 '04-08-2020.csv',
 '04-09-2020.csv',
 '04-10-2020.csv',
 '04-11-2020.csv',
 '04-12-2020.csv',
 '04-13-2020.csv',
 '04-14-2020.csv',
 '04-15-2020.csv',
 '04-16-2020.csv',
 '04-17-2020.csv',
 '04-18-2020.csv',
 '04-19-2020.csv',
 '04-20-2020.csv',
 '04-21-2020.csv',
 '04-22-2020.csv',
 '04-23-2020.csv',
 '04-24-2020.csv',
 '04-25-2020.csv',
 '04-26-2020.csv',
 '04-27-2020.csv',
 '04-28-2020.csv',
 '04-29-2020.csv',
 '04-30-2020.csv',
 '05-01-2020.csv',
 '05-02-2020.csv',
 '05-03-2020.csv',
 '05-04-2020.csv',
 '05-05-2020.csv',
 '05-06-2020.csv',
 '05-07-2020.csv',
 '05-08-2020.csv',
 '05-09-2020.csv',
 '05-10-2020.csv',
 '05-11-2020.csv',
 '05-12-2020.csv',
 '05-13-2020.csv',
 '05-14-2020.csv',
 '05-15-2020.csv',
 '05-16-2020.csv',
 '05-17-2020.csv',
 '05-18-2020.csv',
 '05-19-2020.csv',
 '05-20-2020.csv',
 '05-21-2020.csv',
 '05-22-2020.csv',
 '05-23-2020.csv',
 '05-24-2020.csv',
 '05-25-2020.csv',
 '05-26-2020.csv',
 '05-27-2020.csv',
 '05-28-2020.csv',
 '05-29-2020.csv',
 '05-30-2020.csv',
 '05-31-2020.csv',
 '06-01-2020.csv',
 '06-02-2020.csv',
 '06-03-2020.csv',
 '06-04-2020.csv',
 '06-05-2020.csv',
 '06-06-2020.csv',
 '06-07-2020.csv',
 '06-08-2020.csv',
 '06-09-2020.csv',
 '06-10-2020.csv',
 '06-11-2020.csv',
 '06-12-2020.csv',
 '06-13-2020.csv',
 '06-14-2020.csv',
 '06-15-2020.csv',
 '06-16-2020.csv',
 '06-17-2020.csv']

In [60]:
import os 

def generate_dateframe_by_path(PATH):
    file_list, csv_list = os.listdir(PATH), list()
    first_doc = True
    final_doc = None
    
    for file in file_list:
        if file.split('.')[-1] == 'csv':
            csv_list.append(file)
    csv_list.sort()
    
    for file in csv_list:
        doc = create_dateframe(file)
        if first_doc:
            final_doc, first_doc = doc, False
        else:
            final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)
    
    final_doc = final_doc.fillna(0)    
    return final_doc

In [61]:
PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
doc = generate_dateframe_by_path(PATH)
doc

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
Country_Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20917.0,21459.0,22142.0,22890.0,23546.0,24102.0,24766.0,25527.0,26310.0,26874.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1263.0,1299.0,1341.0,1385.0,1416.0,1464.0,1521.0,1590.0,1672.0,1722.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10265.0,10382.0,10484.0,10589.0,10698.0,10810.0,10919.0,11031.0,11147.0,11268.0
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,852.0,852.0,852.0,852.0,853.0,853.0,853.0,853.0,854.0,854.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,92.0,96.0,113.0,118.0,130.0,138.0,140.0,142.0,148.0,155.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,332.0,332.0,332.0,332.0,333.0,334.0,334.0,334.0,334.0,335.0
West Bank and Gaza,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,473.0,481.0,485.0,487.0,489.0,489.0,492.0,505.0,514.0,555.0
Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,496.0,524.0,560.0,591.0,632.0,705.0,728.0,844.0,885.0,902.0
Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1200.0,1200.0,1200.0,1200.0,1321.0,1357.0,1358.0,1382.0,1405.0,1412.0
Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,287.0,314.0,320.0,332.0,343.0,356.0,383.0,387.0,391.0,401.0

In [62]:
doc = doc.astype('int64')
doc

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
Country_Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
Albania,0,0,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
Algeria,0,0,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
Andorra,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
Angola,0,0,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,332,332,332,332,333,334,334,334,334,335
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,473,481,485,487,489,489,492,505,514,555
Yemen,0,0,0,0,0,0,0,0,0,0,...,496,524,560,591,632,705,728,844,885,902
Zambia,0,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1200,1321,1357,1358,1382,1405,1412
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,287,314,320,332,343,356,383,387,391,401

In [63]:
# CSV로 저장
doc.to_csv('COVID-19-master/final_df.csv')